:root {
  --main-bg-color: white;
  --primary-color: #ff1654;
  --test-color: #f953c6;
  --secondary-color: #ff5864;
  --another-color: #06d69e;
  /* --another-color: #8884d8; */
  --secondary-green: #1aa781;
  --black: hsl(240, 16%, 16%);
  --base: hsl(0, 0%, 100%);
  --page-base: hsl(218, 34%, 96%);
  --button-border: hsla(0, 0%, 59%, 0.5);
  --button-background: var(--base);
  --button-primary: var(--link);
  --ink-600: hsla(240, 12%, 43%, 0.8);
  --ink-700: hsl(240, 12%, 43%);
  --ink-900: var(--black);
  --link: hsl(243, 93%, 67%);
  --bg-light-blue: hsla(236, 96%, 70%, 0.08);
  --bg-light-blue-border: 1px solid hsla(234, 77%, 60%, 0.04);
  --border-color: hsla(216, 41%, 87%, 0.8);
  --stripes: hsl(245, 40%, 98%);
  --input-border: var(--button-border);
}

.container {
  width: 100%;
  min-height: 100vh;
  /* background-color: rgba(240, 240, 240, 0.6); */
  background-color: var(--page-base);
}

a {
  text-decoration: none;
  color: var(--base);
}

.btn {
  /* padding: 2%; */
  border-radius: 4px;
  color: var(--base);
  /* background-color: var(--another-color); */
  /* border: 2px solid var(--another-color); */
  font-size: 18px;
  font-weight: 500;
  background-color: var(--button-primary);
  border: 2px solid var(--button-primary);
}

.btn:hover {
  cursor: pointer;
  /* background: var(--another-color);
  background: -webkit-linear-gradient(to right, var(--another-color), var(--secondary-green));
  background: linear-gradient(to right, var(--another-color), var(--secondary-green)); */
}

.lighten {
  opacity: 0.5;
}

.notification {
  position: fixed;
  top: 0;
  right: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
  width: 200px;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
