:root {
  --main-bg-color: white;
  --primary-color: #ff1654;
  --test-color: #f953c6;
  --secondry-color: #ff5864;
  --another-color: #06d69e;
  --secondary-green: #1aa781;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(240, 240, 240, 0.6);
}

a {
  text-decoration: none;
  color: var(--main-bg-color);
}

.btn {
  /* padding: 2%; */
  border-radius: 4px;
  color: var(--main-bg-color);
  background-color: var(--another-color);
  border: 2px solid var(--another-color);
  font-size: 18px;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  background: var(--another-color);
  background: -webkit-linear-gradient(to right, var(--another-color), var(--secondary-green));
  background: linear-gradient(to right, var(--another-color), var(--secondary-green));
}

.lighten {
  opacity: 0.5;
}

.notification {
  position: fixed;
  top: 0;
  right: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
  width: 200px;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
