.watcher {
  padding: 2%;
  width: 100%;
  border-radius: 0.75rem;
  box-shadow: 0 23px 20px -24px hsl(219deg 37% 18% / 24%);
  background-color: var(--base);
  margin: 2% 5%;
  position: relative;
  overflow: hidden;
}

.watcher:hover {
  cursor: pointer;
}

.topRight {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}

.delete {
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 30px;
  margin-right: 0;
  transition: 0.2s linear;
  width: 30px;
}

.delete:hover {
  background-color: red;
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
}

.cardContent > h3 {
  width: calc(95% - 30px);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.priceDetails {
  width: 100%;
  margin: 0.25rem 0;
}

.priceDetails > p {
  margin: 0.5rem 0;
  font-size: 1rem;
  padding: 0.25rem;
}

.cardContent > .chartWrapper {
  width: 100%;
  height: 2rem;
  margin: 1.5rem 0 0.5rem;
}

@media only screen and (min-width: 600px) {
  .priceDetails {
    width: 65%;
    margin: 0.25rem 0;
  }

  .priceDetails > p {
    margin: 0.5rem 0;
  }

  .cardContent > .chartWrapper {
    width: 35%;
    height: 2rem;
    margin: 1.5rem 0 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .watcher {
    width: 70%;
    margin: 2% 15%;
  }
  .delete {
    background-color: red;
    height: 40px;
    margin-right: -40px;
    transition: 0.2s linear;
    width: 40px;
  }
  .watcher:hover .delete {
    margin-right: 0;
  }
  .cardContent > h3 {
    font-size: 1.5rem;
  }
  .priceDetails > p {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .watcher {
    width: 50%;
  }
}
